{% extends 'index.html' %}

{% block body %}

<div class="container" id="myrow">

      <!-- tab panes -->
      <div class="tab-content">
          <div class="tab-pane active" id="upload-image" role="tabpanel" aria-labelledby="uploadimg">
              <div class="row">
                  <div class="col p-3">
                    <form method="post" action="/" enctype="multipart/form-data" align="center">
                        <dl>
                            <p>
                                <input type="file" name="file" class="btn" autocomplete="off" required style="background-color: #2471A3; color:azure">
                            </p>
                        </dl>
                        <p>
                            <input type="submit" value="Submit" class="btn btn-info" style="background-color: #2471A3; color:azure">
                        </p>
                        <p align="center"> <strong>Intructions:</strong> <br>
                            Only upload the file with extention ".png", "jpg", ".jpeg"
                            
                        </p>
                    </form>

                      
                  </div>
              </div>
          </div>
      </div>
</div>
<br><br>
{% if filename %}

<div class="container" id='myrow_result' align="center">
    <div class="row">
        <div class="col">
            <h3>Predicted Output: </h3>
            <img src="/static/saved/{{ filename }}" alt="uploaded image">
            <br>
            <p>Output: {{output}}</p>
        </div>
    </div>
</div>

{% endif %}


<style>
    #myrow{
        background-color:#EBEDEF;
    }
    #myrow_result{
        background-color:#EBEDEF;
        padding: 5%;
        align-content: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td{
        border: 1px solid black;
    }
</style>



{% endblock  %}